<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Ginkgo Mail</title>
    <link rel="icon" href="/img/favicon.svg">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="side-mail-wrapper">
      <div class="sidebar">
        <img
          src="img/GinkgoMail_logo.svg"
          alt="Hacker mail logo"
          class="header_logo"
        />
        <% let allMailBG = '#e4ecf7'; let searchMailBG = '#fcfcfc';
        if(queryFrom!=undefined) { allMailBG = '#fcfcfc'; searchMailBG
        ='#e4ecf7'; } %>
        <div class="side-selector" style="background-color: <%= allMailBG %>">
          <img
            src="img/all_mail_icon.svg"
            alt="all_mail_icon"
            class="side_selector_icon"
          /><a href="/">全てのメール</a>
        </div>
        <div
          class="side-selector"
          style="background-color: <%= searchMailBG %>"
        >
          <img
            src="img/search_mail_icon.svg"
            alt="search_mail_icon"
            class="side_selector_icon"
          />
          <label for="from"> 差出人で絞り込み </label>
        </div>
      </div>
      <div class="mail-wrapper">
        <div class="mail-header">
          <form class="search-bar-wrapper">
            <input
              name="from"
              id="from"
              class="search-bar"
              placeholder="差出人を入力"
              value="<%= queryFrom %>"
            />
            <div class="search-button-wrapper">
              <button type="submit" class="search-button">検索</button>
            </div>
          </form>
          <div class="mail-header-user">
            <img
              src="img/user_icon.svg"
              alt="user_icon"
              class="mail-header-user-icon"
            />
            駒場 優
          </div>
        </div>
        <% if (isError) { %>
          <p>不正なSQL文です。</p>
        <% } %>
        <% if (!isError && mails.length == 0) { %>
          <p>メールはありません。</p>
        <% } %>
        <% for (const mail of mails) { %>
        <div class="mail-container">
          <div class="mail-subject-date-container">
            <h2 class="mail-subject"><%= mail.subject %></h2>
            <p class="mail-date"><%= mail.date %></p>
          </div>
          <h3 class="mail-sender"><%= mail.from %></h3>
          <p class="mail-receiver"><%= mail.toType %>: <%= mail.to %></p>
          <p class="mail-content"><%- mail.content %></p>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
